.header{
    width: 100%;
    padding: 40px 80px;
    background-image: url("../../assets/header-x1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% 30%;
    height: 350px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    border-radius: 10px;

    h1{
        font-size: 60px;
        line-height: 50px;
        color: white;
        text-align: left;
    }
}

@media (max-width: 800px) {
    .header{
        height: 300px;
        padding: 20px 40px;
        h1{
            font-size: 50px;
        }
    }
}

@media (max-width: 600px) {
    .header{
        height: 200px;
        padding: 20px 40px;
        h1{
            font-size: 45px;
        }
    }
}

@media (max-width: 400px) {
    .header{
        height: 150px;
        padding: 10px 20px;
        h1{
            font-size: 30px;
        }
    }
}