*{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    background-color: #f9f9f9;
    min-width: 290px;
    min-height: 100vh;
}

.Content{
    padding: 0 140px;
}

@media (max-width: 1300px) {
    .Content{
        padding: 0 70px;
    }
}

@media (max-width: 1000px) {
    .Content{
        padding: 0 30px;
    }
}